<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>chapter03</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.itcast.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetClassList</display-name>
    <servlet-name>GetClassList</servlet-name>
    <servlet-class>cn.itcast.servlet.GetClassList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetClassList</servlet-name>
    <url-pattern>/GetClassList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetHWList</display-name>
    <servlet-name>GetHWList</servlet-name>
    <servlet-class>cn.itcast.servlet.GetHWList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHWList</servlet-name>
    <url-pattern>/GetHWList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherMineServlet</display-name>
    <servlet-name>TeacherMineServlet</servlet-name>
    <servlet-class>cn.itcast.servlet.TeacherMineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherMineServlet</servlet-name>
    <url-pattern>/TeacherMineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateHW</display-name>
    <servlet-name>UpdateHW</servlet-name>
    <servlet-class>cn.itcast.servlet.UpdateHW</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateHW</servlet-name>
    <url-pattern>/UpdateHW</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNoticeList</display-name>
    <servlet-name>GetNoticeList</servlet-name>
    <servlet-class>cn.itcast.servlet.GetNoticeList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNoticeList</servlet-name>
    <url-pattern>/GetNoticeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNoticeDetails</display-name>
    <servlet-name>GetNoticeDetails</servlet-name>
    <servlet-class>cn.itcast.servlet.GetNoticeDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNoticeDetails</servlet-name>
    <url-pattern>/GetNoticeDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSentNTClassList</display-name>
    <servlet-name>GetSentNTClassList</servlet-name>
    <servlet-class>cn.itcast.servlet.GetSentNTClassList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSentNTClassList</servlet-name>
    <url-pattern>/GetSentNTClassList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNotice</display-name>
    <servlet-name>UpdateNotice</servlet-name>
    <servlet-class>cn.itcast.servlet.UpdateNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNotice</servlet-name>
    <url-pattern>/UpdateNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMessageList</display-name>
    <servlet-name>GetMessageList</servlet-name>
    <servlet-class>cn.itcast.servlet.GetMessageList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMessageList</servlet-name>
    <url-pattern>/GetMessageList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMessageDetail</display-name>
    <servlet-name>GetMessageDetail</servlet-name>
    <servlet-class>cn.itcast.servlet.GetMessageDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMessageDetail</servlet-name>
    <url-pattern>/GetMessageDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>T_HwList</display-name>
    <servlet-name>T_HwList</servlet-name>
    <servlet-class>cn.itcast.servlet.T_HwList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>T_HwList</servlet-name>
    <url-pattern>/T_HwList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>P_HwList</display-name>
    <servlet-name>P_HwList</servlet-name>
    <servlet-class>cn.itcast.servlet.P_HwList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P_HwList</servlet-name>
    <url-pattern>/P_HwList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>P_NoticeList</display-name>
    <servlet-name>P_NoticeList</servlet-name>
    <servlet-class>cn.itcast.servlet.P_NoticeList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P_NoticeList</servlet-name>
    <url-pattern>/P_NoticeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>P_GetMessageList</display-name>
    <servlet-name>P_GetMessageList</servlet-name>
    <servlet-class>cn.itcast.servlet.P_GetMessageList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P_GetMessageList</servlet-name>
    <url-pattern>/P_GetMessageList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>P_GetTeaList</display-name>
    <servlet-name>P_GetTeaList</servlet-name>
    <servlet-class>cn.itcast.servlet.P_GetTeaList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P_GetTeaList</servlet-name>
    <url-pattern>/P_GetTeaList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLetter</display-name>
    <servlet-name>UpdateLetter</servlet-name>
    <servlet-class>cn.itcast.servlet.UpdateLetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLetter</servlet-name>
    <url-pattern>/UpdateLetter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>P_Mine</display-name>
    <servlet-name>P_Mine</servlet-name>
    <servlet-class>cn.itcast.servlet.P_Mine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>P_Mine</servlet-name>
    <url-pattern>/P_Mine</url-pattern>
  </servlet-mapping>
</web-app>